src/META-INF/wsdl/localhost_8080/WSControleEstoque/ServicoGerenciadorEstoque.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://servico/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://servico/" name="ServicoGerenciadorEstoque">
<types>
<xsd:schema>
<xsd:import namespace="http://servico/" schemaLocation="http://localhost:8080/WSControleEstoque/ServicoGerenciadorEstoque?xsd=1"/>
</xsd:schema>
</types>
<message name="adicionarProduto">
<part name="parameters" element="tns:adicionarProduto"/>
</message>
<message name="adicionarProdutoResponse">
<part name="parameters" element="tns:adicionarProdutoResponse"/>
</message>
<message name="Exception">
<part name="fault" element="tns:Exception"/>
</message>
<message name="removerProduto">
<part name="parameters" element="tns:removerProduto"/>
</message>
<message name="removerProdutoResponse">
<part name="parameters" element="tns:removerProdutoResponse"/>
</message>
<message name="contadorProduto">
<part name="parameters" element="tns:contadorProduto"/>
</message>
<message name="contadorProdutoResponse">
<part name="parameters" element="tns:contadorProdutoResponse"/>
</message>
<message name="listaProduto">
<part name="parameters" element="tns:listaProduto"/>
</message>
<message name="listaProdutoResponse">
<part name="parameters" element="tns:listaProdutoResponse"/>
</message>
<message name="totalEstoqueFisico">
<part name="parameters" element="tns:totalEstoqueFisico"/>
</message>
<message name="totalEstoqueFisicoResponse">
<part name="parameters" element="tns:totalEstoqueFisicoResponse"/>
</message>
<message name="buscarProdutoPorCodigo">
<part name="parameters" element="tns:buscarProdutoPorCodigo"/>
</message>
<message name="buscarProdutoPorCodigoResponse">
<part name="parameters" element="tns:buscarProdutoPorCodigoResponse"/>
</message>
<message name="baixarEstoqueProduto">
<part name="parameters" element="tns:baixarEstoqueProduto"/>
</message>
<message name="baixarEstoqueProdutoResponse">
<part name="parameters" element="tns:baixarEstoqueProdutoResponse"/>
</message>
<message name="adicionarEstoqueProduto">
<part name="parameters" element="tns:adicionarEstoqueProduto"/>
</message>
<message name="adicionarEstoqueProdutoResponse">
<part name="parameters" element="tns:adicionarEstoqueProdutoResponse"/>
</message>
<portType name="ServicoGerenciadorEstoque">
<operation name="adicionarProduto">
<input wsam:Action="http://servico/ServicoGerenciadorEstoque/adicionarProdutoRequest" message="tns:adicionarProduto"/>
<output wsam:Action="http://servico/ServicoGerenciadorEstoque/adicionarProdutoResponse" message="tns:adicionarProdutoResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://servico/ServicoGerenciadorEstoque/adicionarProduto/Fault/Exception"/>
</operation>
<operation name="removerProduto">
<input wsam:Action="http://servico/ServicoGerenciadorEstoque/removerProdutoRequest" message="tns:removerProduto"/>
<output wsam:Action="http://servico/ServicoGerenciadorEstoque/removerProdutoResponse" message="tns:removerProdutoResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://servico/ServicoGerenciadorEstoque/removerProduto/Fault/Exception"/>
</operation>
<operation name="contadorProduto">
<input wsam:Action="http://servico/ServicoGerenciadorEstoque/contadorProdutoRequest" message="tns:contadorProduto"/>
<output wsam:Action="http://servico/ServicoGerenciadorEstoque/contadorProdutoResponse" message="tns:contadorProdutoResponse"/>
</operation>
<operation name="listaProduto">
<input wsam:Action="http://servico/ServicoGerenciadorEstoque/listaProdutoRequest" message="tns:listaProduto"/>
<output wsam:Action="http://servico/ServicoGerenciadorEstoque/listaProdutoResponse" message="tns:listaProdutoResponse"/>
</operation>
<operation name="totalEstoqueFisico">
<input wsam:Action="http://servico/ServicoGerenciadorEstoque/totalEstoqueFisicoRequest" message="tns:totalEstoqueFisico"/>
<output wsam:Action="http://servico/ServicoGerenciadorEstoque/totalEstoqueFisicoResponse" message="tns:totalEstoqueFisicoResponse"/>
</operation>
<operation name="buscarProdutoPorCodigo">
<input wsam:Action="http://servico/ServicoGerenciadorEstoque/buscarProdutoPorCodigoRequest" message="tns:buscarProdutoPorCodigo"/>
<output wsam:Action="http://servico/ServicoGerenciadorEstoque/buscarProdutoPorCodigoResponse" message="tns:buscarProdutoPorCodigoResponse"/>
</operation>
<operation name="baixarEstoqueProduto">
<input wsam:Action="http://servico/ServicoGerenciadorEstoque/baixarEstoqueProdutoRequest" message="tns:baixarEstoqueProduto"/>
<output wsam:Action="http://servico/ServicoGerenciadorEstoque/baixarEstoqueProdutoResponse" message="tns:baixarEstoqueProdutoResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://servico/ServicoGerenciadorEstoque/baixarEstoqueProduto/Fault/Exception"/>
</operation>
<operation name="adicionarEstoqueProduto">
<input wsam:Action="http://servico/ServicoGerenciadorEstoque/adicionarEstoqueProdutoRequest" message="tns:adicionarEstoqueProduto"/>
<output wsam:Action="http://servico/ServicoGerenciadorEstoque/adicionarEstoqueProdutoResponse" message="tns:adicionarEstoqueProdutoResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://servico/ServicoGerenciadorEstoque/adicionarEstoqueProduto/Fault/Exception"/>
</operation>
</portType>
<binding name="ServicoGerenciadorEstoquePortBinding" type="tns:ServicoGerenciadorEstoque">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="adicionarProduto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="removerProduto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="contadorProduto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listaProduto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="totalEstoqueFisico">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="buscarProdutoPorCodigo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="baixarEstoqueProduto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="adicionarEstoqueProduto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
</binding>
<service name="ServicoGerenciadorEstoque">
<port name="ServicoGerenciadorEstoquePort" binding="tns:ServicoGerenciadorEstoquePortBinding">
<soap:address location="http://localhost:8080/WSControleEstoque/ServicoGerenciadorEstoque"/>
</port>
</service>
</definitions>